:root {
    /* Mode clair */
    --background-color-light: #F5F5F2;
    --text-color-light: #241D38;
    --background2-color-light: rgba(75, 53, 28, 0.06);
    --background3-color-light: rgba(75, 53, 28, 0.12);
    --accent-light: #E69435;

    /* Mode sombre */
    --background-color-dark: #241D38;
    --text-color-dark: #F5F5F2;
    --accent-dark: #D07102;
    --background2-color-dark: rgba(255, 255, 255, 0.1);
    --background3-color-dark: rgba(255, 255, 255, 0.2);

    /* Couleurs actuelles */
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --accent: var(--accent-light);
    --background2-color: var(--background2-color-light);
    --background3-color: var(--background3-color-light);


    /* Autres variables */
    --imgSize: 60vh;
    --aproposSize: 50vw;
    --padding: 0 15vw;
    --fontSize: 16px;
    --fontHero: 18.5px;
}

wbr {
    width: 0px;
}


.dark-mode {
    /* Applique les couleurs du mode sombre */
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --background2-color: var(--background2-color-dark);
    --background3-color: var(--background3-color-dark);
    --accent: var(--accent-dark);
}

*::selection {
    color: var(--text-color);
    background-color: var(--accent);
}

.invert {
    filter: invert(100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* Améliore le rendu des polices sur Webkit */
    -moz-osx-font-smoothing: grayscale;
    /* Améliore le rendu des polices sur macOS */
}

.spacer {
    height: 16px;
    visibility: none;
}

a {
    color: var(--text-color);
    cursor: pointer !important;
    text-decoration: none;
    transition: all 0.25s ease;
}

a:hover{
    text-decoration: underline;
}

p {
    line-height: 150%;
}

.mobile{
    display: none;
}

.desktop{
    display: block;
}

#menu>button {
    border: none;
    background: transparent;
    /* font-family: "Fira Code", sans-serif; */
    font-family: "Fira Sans", sans-serif;
    padding: 0;
    font-size: 16px;
    color: var(--text-color);
}

#menu>button:hover {
    background-image: url('underline.svg');
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 3px;
}

button {
    width: fit-content;
    padding: 8px 12px;
    border: 1px solid var(--background2-color);
    background-image: linear-gradient(to right, var(--background2-color), var(--background2-color));
    color: var(--text-color);
    /* font-family: "Fira Code"; */
    font-family: "Fira Sans";
    font-size: 14px;
    border-radius: 100px;
    transition: all 0.25s ease;
    cursor: pointer !important;
}

button:hover {
    background-image: linear-gradient(to right, var(--background2-color), var(--background2-color));
}

#wcb {
    display: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 28px;
    padding: 0px 15vw 0px 15vw;
    font-size: var(--fontSize);
    justify-content: center;
    align-items: center;
    gap: 100px;
    transition: all 0.25s ease;
    cursor: crosshair;
    position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code";
    font-weight: 700;
}

.wrapper-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

h1 {
    margin-bottom: 8px;
    line-height: 120%;
    font-size: 48px;
    font-weight: 700 !important;
    letter-spacing: -0.75px;
    display: inline;
}

h1>.underline {
    font-weight: 700 !important;
}

h2 {
    margin-bottom: 4px;
    line-height: 110%;
    width: 100%;
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.titre{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.underline {
    background-image: url('underline.svg');
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 3px;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
}


.nowrap {
    white-space: nowrap;

}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 16px 32px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.navbar-scrolled{
    background-color: #EBEAE5 !important;
}

#menu {
    display: flex;
    gap: 24px;
}

.logo-anna {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    font-family: "Fira Code";
    font-weight: 700;
}

.footer {
    width: 100%;
    padding: 16px;
    text-align: center;
}

.color {
    color: var(--accent);
}

.bold {
    font-weight: 600;
    color: var(--text-color);
}

/*Page d'accueil*/

#hero {
    width: 100vw;
    height: 100vh; 
    background-color: var(--background2-color);
    padding: 80px 15vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: var(--fontHero);
}

#hero-infos{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

#hero-infos>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: min-content;
    max-width: 66%;
}

#hero-infos>h1 {
    margin: 0;
    height: min-content;
}

#badges {
    grid-column: span 4;
    max-width: 66%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    height: min-content;
}

#badges>* {
    text-decoration: none;
    padding: 2px 8px;
    color: var(--background-color);
    background-color: var(--accent);
    border-radius: 100px;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.lien {
    background-color: var(--text-color) !important;
    box-shadow: 0px 8px 16px 0px var(--background2-color);
    padding: 7px 16px !important;
    min-width: 60px !important;
}

.logo {
    height: 16px;
    width: auto;
    filter: invert(100%);
}

/*Liste de projets*/

#projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 24px 0px;
}

.project-item {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    position: relative;
}

.project-item>img {
    grid-column: 1 / span 2;
    width: 100%;
    height: var(--imgSize) !important;
    object-fit: cover;
    height: auto;
    border-radius: 6px;
    transition: all 0.25s ease;
    position: relative;
    border: 1px solid var(--background2-color);
}

.project-item>h3 {
    font-size: var(--fontSize);
    line-height: 110%;
    font-weight: normal;
}

.project-item>h3::before {
    content: "- ";
    color: var(--accent);
}

.project-item>p {
    justify-self: end;
}

.project-item:hover img {
    filter: brightness(0.25);
}

.project-item p:last-child {
    display: none;
    position: absolute;
    top: calc(var(--imgSize) - 50%);
    left: 50%;
    transform: translate(-50%, calc(-25%));
    color: var(--background-color);
    font-weight: 600;
    letter-spacing: 5%;
    text-align: center;
    margin: 0;
    transition: all 0.25s ease;
}

.project-item p:last-child {
    background-image: url('entourer.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 32px;
}

.project-item:hover p:last-child {
    display: inline-block;
}

/*A propos*/
#apropos {
    display: flex;
    flex-direction: column;
    gap: 48px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: calc(var(--aproposSize)*-1);
    height: 100vh;
    max-width: var(--aproposSize);
    padding: 48px;
    background-color: var(--background-color);
    overflow: scroll;
    transition: all 0.25s ease;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    align-items: center;
}

#apropos>.part1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#apropos>.part1>img {
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
}

.header>h2::before {
    content: "➜";
    color: var(--accent);
    padding-right: 16px;
}

#aproposOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background3-color);
    z-index: 300;
    display: grid;
}

.blocTimeline {
    padding-left: 16px;
    border-left: 3px solid var(--background2-color);
}

.timeline {
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}

.timeline>img {
    height: 56px;
    width: 56px;
    border-radius: 8px;
    border: 1px solid var(--background2-color);
}

.timeline::before {
    content: "●";
    color: var(--accent);
    position: absolute;
    left: 44px;
}

.timeline>p {
    padding-bottom: 4px;
}

/*Project Details*/

#project-details {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 5vh 5vh;
    width: calc(100vw - 10vh);
    height: 90vh;
    overflow: auto;
    background: var(--background-color);
    padding: 32px;
    gap: 32px;
    z-index: 400;
    border-radius: 12px;
    outline: 1px solid var(--background2-color);
}

hr {
    color: var(--background2-color)
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background3-color);
    z-index: 300;
    display: grid;
}

#project-banner {
   display: flex;
   flex-direction: row;
    gap: 24px;
    padding: 20px;
    background-color: var(--background2-color);
    border-radius: 8px;
    width: 100%;
}

#project-banner>hr {
    grid-column: span 3;
}

#project-cover {
    border: 1px solid var(--background2-color);
    border-radius: 4px;
    width: 40%;
    min-height: 30vh !important;
    max-height: 50vh;
    object-fit: cover;
    box-shadow: 0px 8px 16px 0px var(--background2-color);
}

#project-cover2 {
    border: 1px solid var(--background2-color);
    border-radius: 4px;
    width: 100%;
    min-height: 30vh !important;
    max-height: 50vh;
    object-fit: cover;
    box-shadow: 0px 8px 16px 0px var(--background2-color);
}

#project-infos {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#project-details-title {
    display: flex;
    gap: 32px;
    width: 100%;
    grid-column: span 3;
    height: fit-content;
}

#project-details-title>div {
    flex-grow: 1;
}

#project-details-subtitle {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

#close-button {
    background: transparent;
    border: none;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    opacity: 0.5;
}

.close-button:hover {
    background: var(--background2-color);
    border: none;
    opacity: 1;
}

#project-details-intro {
   width: 60%;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

#project-description>p,
#project-description>ul {
    margin-bottom: 8px;
    width: 100%;

}

#project-description>ul>li {
    margin-left: 16px;
}

#project-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-items: stretch;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-container>img {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px var(--background2-color);
    border: 1px solid var(--background2-color);
}

.image-container>p {
    opacity: 80%;
}






@media only screen and (max-width: 600px) {
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    :root {
        --aproposSize: 100vw;
    }

    body {
        justify-content: flex-start;
        gap: 32px;
        padding: 0px 10%;
        font-size: 14px;
        margin: 0px;
    }

    h1 {
        font-size: 28px;
        font-weight: 700 !important;
    }

    h2{
        font-size: 24px;
    }

    /*Home*/

    #hero {
        height: fit-content;
        margin: 0px;
        padding: 72px 8vw;
    }

    #hero-infos>div{
        max-width: 100%;
    }

    .logo-anna{
        word-break: no-break;
    }

    #badges{
        max-width: 100%;
    }

    .footer {
        width: 100%;
        position: relative;
    }

    .wrapper-column {
        padding: 0;
    }

    #badges {
        gap: 8px;
    }

    #badges>* {
        padding: 4px 8px;
        font-size: 12px;
    }

    .poste>img {
        height: 40px;
        width: 40px;
    }

    /* Projects */

    #projects-list {
        grid-template-columns: repeat(1, 1fr);
    }

    #project-details {
        margin: 2vh 2vh;
        width: calc(100vw - 4vh);
        height: 96vh;
        padding: 0;
        gap: 16px;
    }

    #project-details>hr:first-of-type {
        display: none;
    }

    #project-banner {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        padding: 16px;
        gap: 16px
    }

    #project-details-intro{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    #project-images {
        padding: 16px;
        gap: 16px;
        grid-template-columns: 1fr;
    }

    /*A propos */

    #apropos {
        width: calc(100vw - 24px*2);
        height: calc(100vh - 24px*2);
        margin: 24px;
        padding: 32px;
        border-radius: 8px;
    }

    .timeline::before {
        left: 30px;
        font-size: 12px;
    }

    #menu>button:last-child {
        display: none;
    }

    .timeline {
        flex-direction: column;
    }
}